{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/images/apple-touch-icon.png' %}/">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'website/images/site.webmanifest' %}">
  <link rel="icon" href="{% static 'website/images/favicon.ico' %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'website/css/tailwind.css' %}" />

  <title>{% block title %}Django Template{% endblock title %}</title>

  <!-- Head JavaScript -->
  {% block head_js %}{% endblock head_js %}
</head>

<body class="text-center">

  <!-- Main Container -->
  <main role="main" class="container">

    <div class="starter-template">
      <h1 class="mb-4">Django Template</h1>
      <div class="contents">
        {% block contents %}{% endblock contents %}
      </div><!-- /.contents -->
    </div>

  </main><!-- /.container -->

  <!-- JavaScript -->
  {% block js %}{% endblock js %}
</body>

</html>