{% extends 'website/base.html' %}

{% load static %}

{% block title %}{{ block.super }} | Dashboard{% endblock title %}

{% block contents %}

<div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-40 lg:px-8">
    <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-green-950">Django Template</h3>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Available variables</p>
    </div>
    <div class="mt-6 border-t border-gray-200">
        <dl class="divide-y divide-gray-200">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">Name</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">django-template</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">About</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">This template serves as a straightforward boilerplate to kick-start your Django projects, ensuring you have the essential configurations and setup right from the beginning.</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">Web Framework</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">Django</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">CSS Framework</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">TailwindCSS</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">Environment</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">Docker</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">Version</dt>
                <dd id="last-updated" class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">January 2024</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">Current User</dt>
                <dd id="last-updated" class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">{{ user.username }}</dd>
            </div>
        </dl>
    </div>
</div>

{% endblock contents %}