{% extends 'website/base.html' %}

{% load static %}

{% block title %}{{ block.super }} | Dashboard{% endblock title %}

{% block contents %}

<div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-40 lg:px-8 lg:pt-20">
    <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-green-950">Django Template</h3>
    </div>
    <div class="mt-6 border-t border-gray-200">
        <dl class="divide-y divide-gray-200">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-green-950">Django Version</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">4.2</dd>
            </div>
        </dl>
    </div>
</div>

{% endblock contents %}