{% extends 'website/base.html' %}

{% load static %}

{% block title %}{{ block.super }} | Home{% endblock title %}

{% block contents %}
{% include 'website/home_content.html' %}

<script>
    document.addEventListener('htmx:beforeOnLoad', function (evt) {
        let content = document.getElementById('content');
        let incomingContent = document.getElementById('incoming-content');
        let newUrl = evt.detail.path;
        incomingContent.innerHTML = '';
        incomingContent.classList.remove('hidden');
        incomingContent.classList.remove('slide-in-left', 'slide-in-right');
        content.classList.remove('slide-out-left', 'slide-out-right');

        if (newUrl.includes('/dashboard')) {
            incomingContent.innerHTML = `<div class="bg-red-500 h-full">${evt.detail.content}</div>`;
            incomingContent.classList.add('slide-in-right');
            content.classList.add('slide-out-left');
        }
    });

    document.addEventListener('htmx:afterSwap', function (evt) {
        let incomingContent = document.getElementById('incoming-content');
        let content = document.getElementById('content');
        content.innerHTML = incomingContent.innerHTML;
        incomingContent.classList.add('hidden');
        content.classList.remove('slide-out-left', 'slide-out-right');
    });
</script>

{% endblock contents %}