# Git Ignores

# Django Files and Data
/secrets.json
/local-secrets.json
/static
/media
/data

# OS Related
.DS_Store

# Python Related
__pycache__/
*.py[cod]

# Vagrant Settings [legacy]
.vagrant
*.log

# Virtual Environment [legacy]
/venv

# 2020.04.01-DEA
