# Git Ignores

# Django Files and Data
/secrets.json
/local-secrets.json
/static
/media
/data

# OS Related
.DS_Store

# Python Related
__pycache__/
*.py[cod]

# Virtual Environment
/venv

# Development
/.vscode

# 2020.07.18-DEA
