[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
psycopg = {version = "~=3.2", extras = ["binary"]}
pillow = "~=10.4"
gunicorn = "~=22.0"
django-recaptcha = "~=4.0"

[requires]
python_version = "3"
