[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
psycopg = {version = "~=3.1", extras = ["binary"]}
requests = "~=2.32"
pillow = "~=10.2"
gunicorn = "~=22.0"

[requires]
python_version = "3"
