{
  servers {
    trusted_proxies static 172.16.0.0/12
  }
}

:80 {
  # Django application
  reverse_proxy http://django:5000
  
  # Static files
  route /static/* {
    uri strip_prefix /static/
    root * /app/static
    file_server
  }

  # Media files
  route /media/* {
    uri strip_prefix /media/
    root * /app/media
    file_server
  }
}
